@tailwind base;
@tailwind components;
@tailwind utilities;

/* - Linear Gradient: hsl(236, 72%, 79%) to hsl(237, 63%, 64%) */

body {
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  @apply bg-grayish-100;
}

main::before {
  content: url(./assets/bg-top.svg);
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(50%);
  z-index: -1;
}

@media (min-width: 1024px) {
  main::before {
    transform: translateX(0);
  }

  main::after {
    content: url(./assets/bg-bottom.svg);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
}
